<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Recommender System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body style="background-color:white">
    
    <nav class="navbar" style="background-color: gold">
        <a class="navbar-brand">My Book Recommender</a>
        <ul class="nav navbar-nav">
            <li><a>Home</a></li>
            <li><a>Recommend</a></li>
            <li><a>Contact</a></li>


        </ul>
    </nav>
    <div class="container">
<div class="row">
    <div class="col-md-12">
        <h1>Top 50 Books</h1>

    </div>
    <div class="col-md-2" style="margin-top:50px">
        <div class="card">
            <div class="card-body">
                <img clas="card-img-top" src="http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg">
                <h3>Harry Potter</h3>
                <p>J.K. Rowling</P>
                    <p>Votes-200</P>
                        <p>Rating-5.5</P>

        </div>
    </div>

</div>

<div class="col-md-2" style="margin-top:50px">
    <div class="card">
        <div class="card-body">
            <img clas="card-img-top" src="http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg">
            <h3>Harry Potter</h3>
            <p>J.K. Rowling</P>
                <p>Votes-200</P>
                    <p>Rating-5.5</P>

    </div>
</div>

</div>

<div class="col-md-2" style="margin-top:50px">
    <div class="card">
        <div class="card-body">
            <img clas="card-img-top" src="http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg">
            <h3>Harry Potter</h3>
            <p>J.K. Rowling</P>
                <p>Votes-200</P>
                    <p>Rating-5.5</P>

    </div>
</div>

</div>

<div class="col-md-2" style="margin-top:50px">
    <div class="card">
        <div class="card-body">
            <img clas="card-img-top" src="http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg">
            <h3>Harry Potter</h3>
            <p>J.K. Rowling</P>
                <p>Votes-200</P>
                    <p>Rating-5.5</P>

    </div>
</div>

</div>

<div class="col-md-2" style="margin-top:50px">
    <div class="card">
        <div class="card-body">
            <img clas="card-img-top" src="http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg">
            <h3>Harry Potter</h3>
            <p>J.K. Rowling</P>
                <p>Votes-200</P>
                    <p>Rating-5.5</P>

    </div>
</div>

</div>

<div class="col-md-2" style="margin-top:50px">
    <div class="card">
        <div class="card-body">
            <img clas="card-img-top" src="http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg">
            <h3>Harry Potter</h3>
            <p>J.K. Rowling</P>
                <p>Votes-200</P>
                    <p>Rating-5.5</P>

    </div>
</div>

</div>






</div>

</body>
    </html>


