<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Recommender System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body style="background-color:white">
    
    <nav class="navbar" style="background-color: gold">
        <a class="navbar-brand">My Book Recommender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a>Contact</a></li>


        </ul>
    </nav>
    <div class="container">
<div class="row">
    <div class="col-md-12">
        <h1>Recommend Books</h1>
        <form action="/recommend_books" method="post">
            <input name="user_input" type="text" class="form-control"><br>
            <input type="submit" class="btn btn-lg btn-warning">
        </form>

    </div>
    {% if data %}

    





    {% for i in data %}


    <div class="col-md-2" style="margin-top:50px">
        <div class="card">
            <div class="card-body">
                <img clas="card-img-top" src="{{i[2]}}">
                <p>{{i[0]}}</p>
                <p>{{i[1]}}</P>
                    
        </div>
    </div>

</div>
    





    {% endfor %}


    


    {% endif %}




    
    









</div>

</body>
    </html>


